@model IEnumerable<FunPetPics.Models.PetPhotoModel>

@{
    Layout = null;
}

<div class="filter">
    <form>
        <h6>Order by:</h6>
        @Html.DropDownList("sortOrder", new SelectList(ViewBag.SortOrder))
        <input type="submit" value="Search" />
    </form>
</div>

<br />