
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create Account</title>
</head>
<body>

    <h3>Create Account</h3>
    @ViewBag.error
    <form method="post" asp-controller="account" asp-action="confirmCreateAccount">
        <table border="0" cellpadding="2" cellspacing="2">
            <tr>
                <td>Email Address</td>
                <td><input type="text" name="email"></td>
            </tr>
            <tr>
                <td>DisplayName</td>
                <td><input type="text" name="displayName"></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" name="password"></td>
            </tr>
            <tr>
                <td>Repeat Password</td>
                <td><input type="password" name="repeatPassword"></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td><input type="submit" value="Login"></td>
            </tr>
            <tr>
                <td>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="confirmCreateAccount">Create Account</a>
                    </li>
                </td>
            </tr>
        </table>
    </form>

</body>
</html>